:root {
  --color-brand-1: #c2255c;
  --color-brand-2: #d6336c;
  --color-grey-1: #191c1f;
  --color-grey-2: #212529;
  --color-grey-3: #33363a;
  --color-grey-4: #373b3e;
  --color-grey-6: #a6a8a9;
  --color-grey-7: #ffffff;
  --color-alert: #c22554;
  --font-primary: "Inter", sans-serif;
  font-family: var(--font-primary);
  line-height: 150%;
}

body {
  min-height:100vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  scroll-behavior: smooth;
  overflow-x:  hidden;
}

.profile__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-grey-2);
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

::-webkit-scrollbar-thumb{
  background-color: var(--color-brand-1);
}

::-webkit-scrollbar-track {
  background-color: var(--color-grey-2);
}